# Arrest TKM Endpoint

In [1]:
import os
import pandas as pd

import crime_helper as ch

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Import Lookups

In [3]:
OFFENSE_MEDIUM = 'data/lookup_offense_medium.csv'
STATE = 'data/state.csv'
YEAR_SINCE = '2010'
YEAR_UNTIL = '2018'

In [4]:
state_df = pd.read_csv(STATE)
state_df.head()
#state_df.info()

   region_code state_abbr  state_fips_code  state_id      state_name
0  4            AK         2.0              1         Alaska
1  3            AL         1.0              2         Alabama
2  3            AR         5.0              3         Arkansas
3  99           AS         60.0             4         American Samoa
4  4            AZ         4.0              5         Arizona

In [5]:
offense_df = pd.read_csv(OFFENSE_MEDIUM)
offense_df.head()

         offense_type
0  aggravated-assault
1  arson
2  burglary
3  curfew
4  disorderly-conduct

## Get API Data

In [6]:
# examine data for a random row

state_test = state_df.loc[25]['state_abbr']
offense_test = offense_df.loc[6]['offense_type']

state_test
offense_test

'MI'

'drug-grand-total'

In [7]:
config = {
    '{stateAbbr}': state_test,
    '{offense}': offense_test,
    '{variable}': 'male',   
    '{since}': YEAR_SINCE,
    '{until}': YEAR_UNTIL,
}
endpoint_test = ch.get_json(ch.ARREST_TKM_STATE_OFFENSE, config)
endpoint_test

{'ui_type': 'basic_table',
 'noun': 'Arrestee',
 'category': 'Arrestee demographic',
 'title': 'Male Arrests By Age',
 'short_title': 'age',
 'ui_restriction': None,
 'keys': ['10-12',
  '13-14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25-29',
  '30-34',
  '35-39',
  '40-44',
  '45-49',
  '50-54',
  '55-59',
  '60-64',
  '65 and over',
  'Under 10'],
 'data': [{'value': 36, 'data_year': 2010, 'month_num': 0, 'key': '10-12'},
  {'value': 28, 'data_year': 2011, 'month_num': 0, 'key': '10-12'},
  {'value': 35, 'data_year': 2012, 'month_num': 0, 'key': '10-12'},
  {'value': 27, 'data_year': 2013, 'month_num': 0, 'key': '10-12'},
  {'value': 27, 'data_year': 2014, 'month_num': 0, 'key': '10-12'},
  {'value': 17, 'data_year': 2015, 'month_num': 0, 'key': '10-12'},
  {'value': 18, 'data_year': 2016, 'month_num': 0, 'key': '10-12'},
  {'value': 28, 'data_year': 2017, 'month_num': 0, 'key': '10-12'},
  {'value': 21, 'data_year': 2018, 'month_num': 0, 'key': '10-12'},
  {'value': 265, 'data_year': 2010, 'month_num': 0, 'key': '13-14'},
  {'value': 279, 'data_year': 2011, 'month_num': 0, 'key': '13-14'},
  {'value': 252, 'data_year': 2012, 'month_num': 0, 'key': '13-14'},
  {'value': 213, 'data_year': 2013, 'month_num': 0, 'key': '13-14'},
  {'value': 163, 'data_year': 2014, 'month_num': 0, 'key': '13-14'},
  {'value': 137, 'data_year': 2015, 'month_num': 0, 'key': '13-14'},
  {'value': 137, 'data_year': 2016, 'month_num': 0, 'key': '13-14'},
  {'value': 154, 'data_year': 2017, 'month_num': 0, 'key': '13-14'},
  {'value': 127, 'data_year': 2018, 'month_num': 0, 'key': '13-14'},
  {'value': 399, 'data_year': 2010, 'month_num': 0, 'key': '15'},
  {'value': 364, 'data_year': 2011, 'month_num': 0, 'key': '15'},
  {'value': 316, 'data_year': 2012, 'month_num': 0, 'key': '15'},
  {'value': 255, 'data_year': 2013, 'month_num': 0, 'key': '15'},
  {'value': 248, 'data_year': 2014, 'month_num': 0, 'key': '15'},
  {'value': 190, 'data_year': 2015, 'month_num': 0, 'key': '15'},
  {'value': 212, 'data_year': 2016, 'month_num': 0, 'key': '15'},
  {'value': 188, 'data_year': 2017, 'month_num': 0, 'key': '15'},
  {'value': 148, 'data_year': 2018, 'month_num': 0, 'key': '15'},
  {'value': 747, 'data_year': 2010, 'month_num': 0, 'key': '16'},
  {'value': 645, 'data_year': 2011, 'month_num': 0, 'key': '16'},
  {'value': 609, 'data_year': 2012, 'month_num': 0, 'key': '16'},
  {'value': 491, 'data_year': 2013, 'month_num': 0, 'key': '16'},
  {'value': 486, 'data_year': 2014, 'month_num': 0, 'key': '16'},
  {'value': 398, 'data_year': 2015, 'month_num': 0, 'key': '16'},
  {'value': 437, 'data_year': 2016, 'month_num': 0, 'key': '16'},
  {'value': 362, 'data_year': 2017, 'month_num': 0, 'key': '16'},
  {'value': 254, 'data_year': 2018, 'month_num': 0, 'key': '16'},
  {'value': 1383, 'data_year': 2010, 'month_num': 0, 'key': '17'},
  {'value': 1318, 'data_year': 2011, 'month_num': 0, 'key': '17'},
  {'value': 1183, 'data_year': 2012, 'month_num': 0, 'key': '17'},
  {'value': 1101, 'data_year': 2013, 'month_num': 0, 'key': '17'},
  {'value': 973, 'data_year': 2014, 'month_num': 0, 'key': '17'},
  {'value': 907, 'data_year': 2015, 'month_num': 0, 'key': '17'},
  {'value': 889, 'data_year': 2016, 'month_num': 0, 'key': '17'},
  {'value': 861, 'data_year': 2017, 'month_num': 0, 'key': '17'},
  {'value': 674, 'data_year': 2018, 'month_num': 0, 'key': '17'},
  {'value': 2192, 'data_year': 2010, 'month_num': 0, 'key': '18'},
  {'value': 1865, 'data_year': 2011, 'month_num': 0, 'key': '18'},
  {'value': 1835, 'data_year': 2012, 'month_num': 0, 'key': '18'},
  {'value': 1744, 'data_year': 2013, 'month_num': 0, 'key': '18'},
  {'value': 1586, 'data_year': 2014, 'month_num': 0, 'key': '18'},
  {'value': 1557, 'data_year': 2015, 'month_num': 0, 'key': '18'},
  {'value': 1541, 'data_year': 2016, 'month_num': 0, 'key': '18'},
  {'value': 1430, 'data_year': 2017, 'month_num': 0, 'key': '18'},
  {'value': 1001, 'data_year': 2018, 'month_num': 0, 'key': '18'},
  {'value': 2316, 'data_year': 2010, 'month_num': 0, 'key': '19'},
  {'value': 1947, 'data_year': 2011, 'month_num': 0, 'key': '19'},
  {'value': 1804, 'data_year': 2012, 'month_num': 0, 'key': '19'},
  {'value': 1820, 'data_year': 2013, 'month_num': 0, 'key': '19'},
  {'value': 1718, 'data_year': 2014, 'month_num': 0, 'key': '19'},
  {'value': 1644, 'data_year': 2015, 'month_num': 0, 'key': '19'},
  {'value': 1635, 'data_year': 2016, 'month_num': 0, 'key': '19'},
  {'value': 1333, 'data_year': 2017, 'month_num': 0, 'key': '19'},
  {'value': 1063, 'data_year': 2018, 'month_num': 0, 'key': '19'},
  {'value': 2037, 'data_year': 2010, 'month_num': 0, 'key': '20'},
  {'value': 1923, 'data_year': 2011, 'month_num': 0, 'key': '20'},
  {'value': 1711, 'data_year': 2012, 'month_num': 0, 'key': '20'},
  {'value': 1671, 'data_year': 2013, 'month_num': 0, 'key': '20'},
  {'value': 1628, 'data_year': 2014, 'month_num': 0, 'key': '20'},
  {'value': 1529, 'data_year': 2015, 'month_num': 0, 'key': '20'},
  {'value': 1619, 'data_year': 2016, 'month_num': 0, 'key': '20'},
  {'value': 1290, 'data_year': 2017, 'month_num': 0, 'key': '20'},
  {'value': 984, 'data_year': 2018, 'month_num': 0, 'key': '20'},
  {'value': 1646, 'data_year': 2010, 'month_num': 0, 'key': '21'},
  {'value': 1670, 'data_year': 2011, 'month_num': 0, 'key': '21'},
  {'value': 1596, 'data_year': 2012, 'month_num': 0, 'key': '21'},
  {'value': 1594, 'data_year': 2013, 'month_num': 0, 'key': '21'},
  {'value': 1392, 'data_year': 2014, 'month_num': 0, 'key': '21'},
  {'value': 1481, 'data_year': 2015, 'month_num': 0, 'key': '21'},
  {'value': 1478, 'data_year': 2016, 'month_num': 0, 'key': '21'},
  {'value': 1197, 'data_year': 2017, 'month_num': 0, 'key': '21'},
  {'value': 986, 'data_year': 2018, 'month_num': 0, 'key': '21'},
  {'value': 1471, 'data_year': 2010, 'month_num': 0, 'key': '22'},
  {'value': 1396, 'data_year': 2011, 'month_num': 0, 'key': '22'},
  {'value': 1509, 'data_year': 2012, 'month_num': 0, 'key': '22'},
  {'value': 1558, 'data_year': 2013, 'month_num': 0, 'key': '22'},
  {'value': 1547, 'data_year': 2014, 'month_num': 0, 'key': '22'},
  {'value': 1436, 'data_year': 2015, 'month_num': 0, 'key': '22'},
  {'value': 1450, 'data_year': 2016, 'month_num': 0, 'key': '22'},
  {'value': 1167, 'data_year': 2017, 'month_num': 0, 'key': '22'},
  {'value': 958, 'data_year': 2018, 'month_num': 0, 'key': '22'},
  {'value': 1247, 'data_year': 2010, 'month_num': 0, 'key': '23'},
  {'value': 1187, 'data_year': 2011, 'month_num': 0, 'key': '23'},
  {'value': 1263, 'data_year': 2012, 'month_num': 0, 'key': '23'},
  {'value': 1430, 'data_year': 2013, 'month_num': 0, 'key': '23'},
  {'value': 1527, 'data_year': 2014, 'month_num': 0, 'key': '23'},
  {'value': 1448, 'data_year': 2015, 'month_num': 0, 'key': '23'},
  {'value': 1357, 'data_year': 2016, 'month_num': 0, 'key': '23'},
  {'value': 1138, 'data_year': 2017, 'month_num': 0, 'key': '23'},
  {'value': 967, 'data_year': 2018, 'month_num': 0, 'key': '23'},
  {'value': 1138, 'data_year': 2010, 'month_num': 0, 'key': '24'},
  {'value': 1112, 'data_year': 2011, 'month_num': 0, 'key': '24'},
  {'value': 1102, 'data_year': 2012, 'month_num': 0, 'key': '24'},
  {'value': 1255, 'data_year': 2013, 'month_num': 0, 'key': '24'},
  {'value': 1354, 'data_year': 2014, 'month_num': 0, 'key': '24'},
  {'value': 1396, 'data_year': 2015, 'month_num': 0, 'key': '24'},
  {'value': 1410, 'data_year': 2016, 'month_num': 0, 'key': '24'},
  {'value': 1120, 'data_year': 2017, 'month_num': 0, 'key': '24'},
  {'value': 924, 'data_year': 2018, 'month_num': 0, 'key': '24'},
  {'value': 4411, 'data_year': 2010, 'month_num': 0, 'key': '25-29'},
  {'value': 4231, 'data_year': 2011, 'month_num': 0, 'key': '25-29'},
  {'value': 4243, 'data_year': 2012, 'month_num': 0, 'key': '25-29'},
  {'value': 4479, 'data_year': 2013, 'month_num': 0, 'key': '25-29'},
  {'value': 4819, 'data_year': 2014, 'month_num': 0, 'key': '25-29'},
  {'value': 5116, 'data_year': 2015, 'month_num': 0, 'key': '25-29'},
  {'value': 5964, 'data_year': 2016, 'month_num': 0, 'key': '25-29'},
  {'value': 4968, 'data_year': 2017, 'month_num': 0, 'key': '25-29'},
  {'value': 4635, 'data_year': 2018, 'month_num': 0, 'key': '25-29'},
  {'value': 3164, 'data_year': 2010, 'month_num': 0, 'key': '30-34'},
  {'value': 2879, 'data_year': 2011, 'month_num': 0, 'key': '30-34'},
  {'value': 3005, 'data_year': 2012, 'month_num': 0, 'key': '30-34'},
  {'value': 3357, 'data_year': 2013, 'month_num': 0, 'key': '30-34'},
  {'value': 3314, 'data_year': 2014, 'month_num': 0, 'key': '30-34'},
  {'value': 3435, 'data_year': 2015, 'month_num': 0, 'key': '30-34'},
  {'value': 3801, 'data_year': 2016, 'month_num': 0, 'key': '30-34'},
  {'value': 3151, 'data_year': 2017, 'month_num': 0, 'key': '30-34'},
  {'value': 3154, 'data_year': 2018, 'month_num': 0, 'key': '30-34'},
  {'value': 2092, 'data_year': 2010, 'month_num': 0, 'key': '35-39'},
  {'value': 1904, 'data_year': 2011, 'month_num': 0, 'key': '35-39'},
  {'value': 2034, 'data_year': 2012, 'month_num': 0, 'key': '35-39'},
  {'value': 2081, 'data_year': 2013, 'month_num': 0, 'key': '35-39'},
  {'value': 2216, 'data_year': 2014, 'month_num': 0, 'key': '35-39'},
  {'value': 2333, 'data_year': 2015, 'month_num': 0, 'key': '35-39'},
  {'value': 2748, 'data_year': 2016, 'month_num': 0, 'key': '35-39'},
  {'value': 2444, 'data_year': 2017, 'month_num': 0, 'key': '35-39'},
  {'value': 2294, 'data_year': 2018, 'month_num': 0, 'key': '35-39'},
  {'value': 1580, 'data_year': 2010, 'month_num': 0, 'key': '40-44'},
  {'value': 1486, 'data_year': 2011, 'month_num': 0, 'key': '40-44'},
  {'value': 1549, 'data_year': 2012, 'month_num': 0, 'key': '40-44'},
  {'value': 1675, 'data_year': 2013, 'month_num': 0, 'key': '40-44'},
  {'value': 1531, 'data_year': 2014, 'month_num': 0, 'key': '40-44'},
  {'value': 1654, 'data_year': 2015, 'month_num': 0, 'key': '40-44'},
  {'value': 1790, 'data_year': 2016, 'month_num': 0, 'key': '40-44'},
  {'value': 1485, 'data_year': 2017, 'month_num': 0, 'key': '40-44'},
  {'value': 1524, 'data_year': 2018, 'month_num': 0, 'key': '40-44'},
  {'value': 1338, 'data_year': 2010, 'month_num': 0, 'key': '45-49'},
  {'value': 1216, 'data_year': 2011, 'month_num': 0, 'key': '45-49'},
  {'value': 1215, 'data_year': 2012, 'month_num': 0, 'key': '45-49'},
  {'value': 1265, 'data_year': 2013, 'month_num': 0, 'key': '45-49'},
  {'value': 1227, 'data_year': 2014, 'month_num': 0, 'key': '45-49'},
  {'value': 1276, 'data_year': 2015, 'month_num': 0, 'key': '45-49'},
  {'value': 1376, 'data_year': 2016, 'month_num': 0, 'key': '45-49'},
  {'value': 1181, 'data_year': 2017, 'month_num': 0, 'key': '45-49'},
  {'value': 1170, 'data_year': 2018, 'month_num': 0, 'key': '45-49'},
  {'value': 948, 'data_year': 2010, 'month_num': 0, 'key': '50-54'},
  {'value': 938, 'data_year': 2011, 'month_num': 0, 'key': '50-54'},
  {'value': 970, 'data_year': 2012, 'month_num': 0, 'key': '50-54'},
  {'value': 1025, 'data_year': 2013, 'month_num': 0, 'key': '50-54'},
  {'value': 1041, 'data_year': 2014, 'month_num': 0, 'key': '50-54'},
  {'value': 1078, 'data_year': 2015, 'month_num': 0, 'key': '50-54'},
  {'value': 1119, 'data_year': 2016, 'month_num': 0, 'key': '50-54'},
  {'value': 913, 'data_year': 2017, 'month_num': 0, 'key': '50-54'},
  {'value': 938, 'data_year': 2018, 'month_num': 0, 'key': '50-54'},
  {'value': 507, 'data_year': 2010, 'month_num': 0, 'key': '55-59'},
  {'value': 507, 'data_year': 2011, 'month_num': 0, 'key': '55-59'},
  {'value': 539, 'data_year': 2012, 'month_num': 0, 'key': '55-59'},
  {'value': 568, 'data_year': 2013, 'month_num': 0, 'key': '55-59'},
  {'value': 621, 'data_year': 2014, 'month_num': 0, 'key': '55-59'},
  {'value': 677, 'data_year': 2015, 'month_num': 0, 'key': '55-59'},
  {'value': 824, 'data_year': 2016, 'month_num': 0, 'key': '55-59'},
  {'value': 709, 'data_year': 2017, 'month_num': 0, 'key': '55-59'},
  {'value': 639, 'data_year': 2018, 'month_num': 0, 'key': '55-59'},
  {'value': 201, 'data_year': 2010, 'month_num': 0, 'key': '60-64'},
  {'value': 236, 'data_year': 2011, 'month_num': 0, 'key': '60-64'},
  {'value': 220, 'data_year': 2012, 'month_num': 0, 'key': '60-64'},
  {'value': 312, 'data_year': 2013, 'month_num': 0, 'key': '60-64'},
  {'value': 264, 'data_year': 2014, 'month_num': 0, 'key': '60-64'},
  {'value': 323, 'data_year': 2015, 'month_num': 0, 'key': '60-64'},
  {'value': 380, 'data_year': 2016, 'month_num': 0, 'key': '60-64'},
  {'value': 318, 'data_year': 2017, 'month_num': 0, 'key': '60-64'},
  {'value': 307, 'data_year': 2018, 'month_num': 0, 'key': '60-64'},
  {'value': 81, 'data_year': 2010, 'month_num': 0, 'key': '65 and over'},
  {'value': 72, 'data_year': 2011, 'month_num': 0, 'key': '65 and over'},
  {'value': 104, 'data_year': 2012, 'month_num': 0, 'key': '65 and over'},
  {'value': 126, 'data_year': 2013, 'month_num': 0, 'key': '65 and over'},
  {'value': 141, 'data_year': 2014, 'month_num': 0, 'key': '65 and over'},
  {'value': 132, 'data_year': 2015, 'month_num': 0, 'key': '65 and over'},
  {'value': 171, 'data_year': 2016, 'month_num': 0, 'key': '65 and over'},
  {'value': 180, 'data_year': 2017, 'month_num': 0, 'key': '65 and over'},
  {'value': 157, 'data_year': 2018, 'month_num': 0, 'key': '65 and over'},
  {'value': 0, 'data_year': 2010, 'month_num': 0, 'key': 'Under 10'},
  {'value': 2, 'data_year': 2011, 'month_num': 0, 'key': 'Under 10'},
  {'value': 0, 'data_year': 2012, 'month_num': 0, 'key': 'Under 10'},
  {'value': 0, 'data_year': 2013, 'month_num': 0, 'key': 'Under 10'},
  {'value': 0, 'data_year': 2014, 'month_num': 0, 'key': 'Under 10'},
  {'value': 0, 'data_year': 2015, 'month_num': 0, 'key': 'Under 10'},
  {'value': 1, 'data_year': 2016, 'month_num': 0, 'key': 'Under 10'},
  {'value': 0, 'data_year': 2017, 'month_num': 0, 'key': 'Under 10'},
  {'value': 1, 'data_year': 2018, 'month_num': 0, 'key': 'Under 10'}],
 'precise_data': []}

In [8]:
# loop over all lookup values and aggregate full results

results_ls = []

for idx_off, row_off in offense_df.iterrows():
    offense = row_off['offense_type']
    print(offense)
    
    for idx_stt, row_stt in state_df.iterrows():
        state = row_stt['state_abbr']
        
        # get the counts for males
        
        config = {
            '{stateAbbr}': state,
            '{offense}': offense,
            '{variable}': 'male',   
            '{since}': YEAR_SINCE,
            '{until}': YEAR_UNTIL,
        }
        result = ch.get_json(ch.ARREST_TKM_STATE_OFFENSE, config)
        
        for res in result['data']:
            new_dx = {
                'state': state,
                'offense': offense,
                'year': res['data_year'],
                'gender': 'male', 
                'age': res['key'],
                'count': res['value'],
            }
            results_ls.append(new_dx)
        
        # get the counts for females
        
        config = {
            '{stateAbbr}': state,
            '{offense}': offense,
            '{variable}': 'female',   
            '{since}': YEAR_SINCE,
            '{until}': YEAR_UNTIL,
        }
        result = ch.get_json(ch.ARREST_TKM_STATE_OFFENSE, config)
        
        for res in result['data']:
            new_dx = {
                'state': state,
                'offense': offense,
                'year': res['data_year'],
                'gender': 'female', 
                'age': res['key'],
                'count': res['value'],
            }
            results_ls.append(new_dx)

        #break

results_ls[:5]

aggravated-assault
arson
burglary
curfew
disorderly-conduct
dui
drug-grand-total
drunkenness
embezzlement
forgery
fraud
gambling-total
human-trafficking-commerical
human-trafficking-servitude
larceny
liqour-laws
motor-vehcile-theft
murder
offense-against-family
prostitution
prostitution-assisting
prostitution-prostitution
prostitution-purchasing
rape
robbery
runaway
sex-offenses
simple-assault
stolen-property
suspicion
vagrancy
vandalism
weapons

[{'state': 'AK',
  'offense': 'aggravated-assault',
  'year': 2010,
  'gender': 'male',
  'age': '10-12',
  'count': 11},
 {'state': 'AK',
  'offense': 'aggravated-assault',
  'year': 2011,
  'gender': 'male',
  'age': '10-12',
  'count': 16},
 {'state': 'AK',
  'offense': 'aggravated-assault',
  'year': 2012,
  'gender': 'male',
  'age': '10-12',
  'count': 6},
 {'state': 'AK',
  'offense': 'aggravated-assault',
  'year': 2013,
  'gender': 'male',
  'age': '10-12',
  'count': 9},
 {'state': 'AK',
  'offense': 'aggravated-assault',
  'year': 2014,
  'gender': 'male',
  'age': '10-12',
  'count': 11}]

## Create DataFrame from API

In [9]:
endpoint_df = pd.DataFrame(results_ls)
endpoint_df = endpoint_df.sort_values(['state', 'year', 'offense', 'gender'])
endpoint_df.head(10)
endpoint_df.info()

       age  count  gender             offense state  year
198  10-12  5      female  aggravated-assault  AK    2010
207  13-14  7      female  aggravated-assault  AK    2010
216  15     10     female  aggravated-assault  AK    2010
225  16     6      female  aggravated-assault  AK    2010
234  17     15     female  aggravated-assault  AK    2010
243  18     25     female  aggravated-assault  AK    2010
252  19     21     female  aggravated-assault  AK    2010
261  20     20     female  aggravated-assault  AK    2010
270  21     29     female  aggravated-assault  AK    2010
279  22     16     female  aggravated-assault  AK    2010

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541244 entries, 198 to 541001
Data columns (total 6 columns):
age        541244 non-null object
count      541244 non-null int64
gender     541244 non-null object
offense    541244 non-null object
state      541244 non-null object
year       541244 non-null int64
dtypes: int64(2), object(4)
memory usage: 28.9+ MB

In [10]:
# no duplicates in this endpoint

doop_df = endpoint_df.loc[endpoint_df.duplicated(subset=['state', 'year', 'offense', 'gender', 'age'], keep=False) == True]
doop_df.head()

Empty DataFrame
Columns: [age, count, gender, offense, state, year]
Index: []

In [11]:
# group the different ages into one count

endpoint_age_df = endpoint_df.groupby(['state', 'year', 'gender', 'offense']).sum()
endpoint_age_df = endpoint_age_df.reset_index()
endpoint_age_df.head(30)

   state  year  gender                 offense  count
0   AK    2010  female  aggravated-assault      415
1   AK    2010  female  arson                   11
2   AK    2010  female  burglary                78
3   AK    2010  female  curfew                  3
4   AK    2010  female  disorderly-conduct      266
5   AK    2010  female  drug-grand-total        599
6   AK    2010  female  drunkenness             133
7   AK    2010  female  dui                     1371
8   AK    2010  female  embezzlement            47
9   AK    2010  female  forgery                 51
10  AK    2010  female  fraud                   106
11  AK    2010  female  gambling-total          2
12  AK    2010  female  larceny                 1155
13  AK    2010  female  liqour-laws             1009
14  AK    2010  female  motor-vehcile-theft     46
15  AK    2010  female  murder                  3
16  AK    2010  female  offense-against-family  189
17  AK    2010  female  prostitution            108
18  AK    2010  female  rape                    2
19  AK    2010  female  robbery                 45
20  AK    2010  female  runaway                 43
21  AK    2010  female  sex-offenses            14
22  AK    2010  female  simple-assault          1602
23  AK    2010  female  stolen-property         7
24  AK    2010  female  suspicion               2
25  AK    2010  female  vagrancy                6
26  AK    2010  female  vandalism               210
27  AK    2010  female  weapons                 34
28  AK    2010  male    aggravated-assault      1556
29  AK    2010  male    arson                   22

## Export to csv

In [12]:
save_path = r'data/arrest_tkm_state.csv'
endpoint_age_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'0.73 mb'