# CDE - Explore Endpoints

In [7]:
import os
import pandas as pd

import crime_helper as ch

In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Import Data

In [9]:
# load the lookup data

STATE = 'data/state.csv'
OFFENSE_SHORT = 'data/offense_short.csv'
YEAR_SINCE = 2010
YEAR_UNTIL = 2011

In [10]:
state_df = pd.read_csv(STATE)
state_df.state_abbr.to_list()
state_df.head()

['AK',
 'AL',
 'AR',
 'AS',
 'AZ',
 'CA',
 'CO',
 'CT',
 'CZ',
 'DC',
 'DE',
 'FL',
 'GA',
 'GM',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MI',
 'MN',
 'MO',
 'MS',
 'MT',
 'NE',
 'NC',
 'ND',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'PR',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VA',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY',
 'MP',
 'OT',
 'VI']

   region_code state_abbr  state_fips_code  state_id      state_name
0  4            AK         2.0              1         Alaska
1  3            AL         1.0              2         Alabama
2  3            AR         5.0              3         Arkansas
3  99           AS         60.0             4         American Samoa
4  4            AZ         4.0              5         Arizona

In [11]:
offense_df = pd.read_csv(OFFENSE_SHORT)
offense_df.offense_type.to_list()

FileNotFoundError: [Errno 2] File b'data/offense_short.csv' does not exist: b'data/offense_short.csv'

In [13]:
# examine data for a random row

random_state = state_df.loc[10]['state_abbr']
# random_offense = offense_df.loc[4]['offense_type']
random_state
# random_offense

'DE'

In [14]:
config = {
    '{since}': '2010',
    '{stateAbbr}': random_state,
    '{until}' : '2018'
}
employment = ch.get_json(ch.EMPLOYMENT_STATE, config)

{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9

In [ ]:
# loop over all states and retrieve info via API
# aggregate the info into employment_list, which will be later converted into a dataframe

employment_list = []
for state in state_df.state_abbr.to_list():
    config = {
        '{since}': '2010',
        '{stateAbbr}': state,
        '{until}' : '2018'
        }
    employment = ch.get_json(ch.EMPLOYMENT_STATE, config)
    employment_list += employment

{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9
{'count': 9, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 9

In [14]:
employment_df = pd.DataFrame(employment_list)
employment_df.head()
len(employment_df)

,agency_count_pe_submitting,civilian_ct,csv_header,data_year,female_civilian_ct,female_officer_ct,female_total_ct,male_civilian_ct,male_officer_ct,male_total_ct,pe_ct_per_1000,population,state_abbr,state_id,state_name,total_pe_ct
0,58,1304,None,2010,812,434,1246,492,3128,3620,5.32,915164,DE,11,Delaware,4866
1,56,1287,None,2011,795,424,1219,492,3054,3546,5.16,923759,DE,11,Delaware,4765
2,59,877,None,2012,558,328,886,319,2028,2347,3.46,934970,DE,11,Delaware,3233
3,66,898,None,2013,575,352,927,323,2125,2448,3.57,944369,DE,11,Delaware,3375
4,68,1316,None,2014,744,297,1041,572,2552,3124,4.36,954220,DE,11,Delaware,4165

522

In [16]:
# remove unnecessery column
employment_df.drop(['csv_header', 'state_id'], inplace = True, axis = 1)

KeyError: "['csv_header' 'state_id'] not found in axis"

In [17]:
employment_df.head()

,agency_count_pe_submitting,civilian_ct,data_year,female_civilian_ct,female_officer_ct,female_total_ct,male_civilian_ct,male_officer_ct,male_total_ct,pe_ct_per_1000,population,state_abbr,state_name,total_pe_ct
0,58,1304,2010,812,434,1246,492,3128,3620,5.32,915164,DE,Delaware,4866
1,56,1287,2011,795,424,1219,492,3054,3546,5.16,923759,DE,Delaware,4765
2,59,877,2012,558,328,886,319,2028,2347,3.46,934970,DE,Delaware,3233
3,66,898,2013,575,352,927,323,2125,2448,3.57,944369,DE,Delaware,3375
4,68,1316,2014,744,297,1041,572,2552,3124,4.36,954220,DE,Delaware,4165

In [18]:
# rename colum 'key' to 'gender', 'data_year' to 'year'
employment_df.rename(columns={'agency_count_pe_submitting': 'agency_ct', 'data_year': 'year'}, inplace=True)
employment_df.head(2)

,agency_ct,civilian_ct,year,female_civilian_ct,female_officer_ct,female_total_ct,male_civilian_ct,male_officer_ct,male_total_ct,pe_ct_per_1000,population,state_abbr,state_name,total_pe_ct
0,58,1304,2010,812,434,1246,492,3128,3620,5.32,915164,DE,Delaware,4866
1,56,1287,2011,795,424,1219,492,3054,3546,5.16,923759,DE,Delaware,4765

## Export to csv

In [19]:
save_path = r'data/employment_state.csv'
employment_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'0.04 mb'